.authordate {
  border-top:1px solid #578c89;
  border-bottom:1px solid #578c89;
  margin-bottom:30px;
}

img { max-width:100%; }

/*.main-container {
  margin-top:48pt;
  color:#b3b987;
}*/

h1 {
  font-weight:700;
}

h2 {
  page-break-inside: avoid;
  color: #578c89;
  font-weight:500;
}

h3 {
  page-break-inside: avoid;
  color: #578c89;
  font-weight:400;
}

h4 {
  page-break-inside: avoid;
  color: #578c89;
  font-weight:300;
}


.ftr {
  border-top:1px solid #578c89;
  margin-top:30px;
  text-align:center;
  font-size:14px;
}

.ftr > a:link,
.ftr > a:visited,
.ftr > a:hover,
.ftr > a:active {
  color:#b3b987;
  text-decoration: none;
}

.ftr > a:hover {
  color:#578c89;
}



